
.w{
padding:0px;
margin:0px;
color:white;
}
#t{
display:inline-block;
color:black;
background-color:white;
margin-left:250px;
decoration:none;
text-decoration:none;
padding:10px;
}
#l{
display:inline-block;
color:white;
background-color:brown;
margin-left:2px;
decoration:none;
text-decoration:none;
padding:10px;
}
body{
background-color:black;
}
body
{
background-image:url("food.jpg");
backgroumd-position:center;
background-size:cover;

}
ul
{
float:right;
}
ul li{
display:inline-block;
}
ul li a{
text-decoration:none;
color:white;
padding:5px 20px;
border:1px solid white;
transition:0.6s ease;
}

ul li a:hover{
background-color:brown;
color:white;
}

input{
font-size:22px;
}
.h{
margin-top:400px;
margin-left:20px;
}
#qs{
color:grey;
}
table{
width:100%;
}
td{
color:white;
}
.xc{
width:100px;
}
#r{
margin-left:830px;
margin-top:40px;
}
.g{
margin-left:850px;
margin-top:25px;
}
